ul {
    list-style-type: none;
}

div{
    background: blanchedalmond;
    box-shadow: 0 0 0 2px black;
    border-radius: 8px;
    width: 25%;
    position: absolute;
    right: 0;
    bottom: 0;
}

h2 {
    text-align: center;
}