p{
    width: 25%;
    height: 50%;
    margin: 2px;
    padding: 2px;
    background-color: gray;
    box-shadow: 0 0 0 2px #333; 
    border-radius: 8px; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }