nav {
    margin: auto;
    text-align: center;
    background: blanchedalmond;
    box-shadow: 0 0 0 2px #333; /* Simulates a "filled border" */
    border-radius: 8px; /* Optional: rounded corners */
    display: fixed;
    margin-top: 10px;
    margin-top: 2px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}